<div class="file-uploader">
  <div class="file-uploader__panel" dndFile (fileDropped)="fileChangeHandler($event)">
    <mat-label class="file-uploader__label" *ngIf="placeholder">{{ placeholder }}</mat-label>
    <input
      type="file"
      [accept]="fileType"
      [multiple]="multiple"
      class="file-uploader__input"
      (change)="fileChangeHandler(getFiles($event))"
    />
    <mat-icon class="file-uploader__icon" fontSet="material-icons-outlined">download</mat-icon>
    <p class="file-uploader__text">{{ textDownloadPanel | translate }}</p>
    <ul *ngIf="selectFile?.length" class="file-uploader__list">
      <li class="file-uploader__selected">{{ (selectFile?.length === 1 ? 'FILE.SELECTED_FILE' : 'FILE.SELECTED_FILES') | translate }}:</li>
      <li *ngFor="let file of selectFile; let idx = index" class="file-uploader__file-item" [class.error]="isFileMaxSize(file)">
        <cropped-text class="file-uploader__file-name" [text]="file.originalName || file.name"></cropped-text>
        <button class="file-uploader__file-remove" mat-icon-button (click)="removeFile(idx, $event)"><mat-icon>close</mat-icon></button>
      </li>
    </ul>
  </div>
  <mat-error class="file-uploader__error" *ngIf="isFileError">
    {{ fileErrorMessage }}
  </mat-error>
</div>
