.dialog_header {
  position: relative;
}

.btn_close, .material-icons {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.btn_close {
  position: absolute;
  top: -20px;
  right: -20px;
}

.material-icons {
  font-size: 20px;
}
