// FONTS
$main-font: "Roboto", sans-serif;

// COLORS

$color-white: #fff;
$color-light-grey: rgba(#e6e5f2, 0.81);
$color-grey: #9897ad;
$color-dark-grey: #2d2d2d;
$color-black: #000;

// BREAKPOINTS

$desktop-s: 1280px;
