<mat-form-field [appearance]="appearance" class="form-input">
  <mat-label>{{ placeholder }}</mat-label>
  <mat-icon *ngIf="icon" class="form-input__icon" matPrefix>{{ icon }}</mat-icon>
  <input
    matInput
    [type]="type"
    [formControl]="formControl"
    [placeholder]="placeholder"
    [required]="required"
    [readonly]="readonly"
  />

  <button
    *ngIf="isButtonShown"
    [disabled]="disabled"
    class="form-input__toggle-password"
    mat-icon-button
    matSuffix
    tabindex="-1"
    type="button"
    (click)="togglePassword()"
  >
    <mat-icon>{{ buttonIcon }}</mat-icon>
  </button>
  <mat-error *ngIf="control?.invalid">{{ errorMessage }}</mat-error>
</mat-form-field>
