<div class="paginated-list">
  <loader-container class="paginated-list__loader" [isLoading]="isLoading">
    <div *ngIf="isEmpty" class="paginated-list__no-content">
      <mat-icon [svgIcon]="emptyIcon" class="paginated-list__no-content-icon"></mat-icon>
      <h3 class="paginated-list__no-content-heading">{{ emptyMessage }}</h3>
    </div>
    <div class="paginated-list__content" [style.grid-template-columns]="gridTemplateColumnsValue">
      <ng-container *ngFor="let item of entities">
        <ng-container
          *ngTemplateOutlet="itemTemplate ? itemTemplate : defaultItemTemplate; context: { $implicit: item }"
        ></ng-container>
      </ng-container>
      <add-button
        *ngIf="!hideAddBtn"
        [ngStyle]="addBtnStyles"
        [iconSize]="addBtnIconSize"
        class="categories-list__item"
        (add)="onAdd()"
      ></add-button>
    </div>
  </loader-container>
  <mat-paginator
    *ngIf="!hidePagination"
    class="paginated-list__paginator"
    [length]="total"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [hidePageSize]="true"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)"
  ></mat-paginator>
</div>

<ng-template #defaultItemTemplate let-item>
  <span>{{ item | json }}</span>
</ng-template>
