<header class="main-header">
  <div class="main-header__inner">
    <nav class="main-header__navigation">
      <ng-container *ngFor="let link of navigationItems">
        <a *showForRoles="link.roles" class="main-header__link" routerLinkActive="main-header__link_active" [routerLink]="link.path">
          <mat-icon class="main-header__icon" [svgIcon]="link.icon"></mat-icon>
          <span class="main-header__link-name">{{ link.title | translate }}</span>
        </a>
      </ng-container>
    </nav>
    <div class="main-header__user-area">
      <cropped-text class="main-header__user-name" [text]="userName"></cropped-text>
      <button class="main-header__logout" mat-button (click)="logout()">{{ 'BUTTON_NAME.LOGOUT' | translate }}</button>
    </div>
  </div>
</header>
