@import "variables/modules/breakpoints";

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 172rem;
    width: 100%;
    padding: 0 10rem;

    @media (max-width: $desktop-m) {
      padding: 0 var(--s-5);
    }
  }

  &__navigation {
    display: flex;
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    text-align: center;
    padding: 2rem 0.5rem;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 1;
      height: 0.5rem;
      border-top-left-radius: 0.2rem;
      border-top-right-radius: 0.2rem;
      background-color: transparent;
      transition: 0.3s background-color;
    }

    &:hover,
    &_active {
      .mat-icon {
        opacity: 0.7;
      }

      &::after {
        background-color: currentcolor;
      }
    }
  }

  &__link_active &__link-name {
    font-weight: var(--fw-medium);
  }

  &__icon {
    opacity: 0.25;
    margin-bottom: 0.5em;
  }

  &__logo-wrapper,
  &__user-area {
    max-width: 22rem;
    width: 100%;
  }

  &__logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: var(--s-10);
    height: 3.7rem;
  }

  &__logo-name {
    width: 16.7rem;
    height: auto;
  }

  &__user-name {
    font-size: 1.7rem;
  }

  &__logout {
    padding: 0;
    height: auto;
    min-height: auto;
    line-height: 1.4;
    min-width: auto;
    opacity: 0.5;
    font-weight: var(--fw-normal);
  }
}
