<loader-container [isLoading]="isLoading" class="data-table">
  <mat-card class="data-table__table-wrap">
    <table
      [queryParams]="queryParams"
      [paginatePipeArgs]="paginatePipeArgs"
      [dataSource]="dataSource"
      [minWidth]="minWidth"
      [columns]="columns"
      [displayedColumns]="displayedColumns"
      (rowClick)="rowClick.emit($event)"
    ></table>
    <div class="data-table__empty-block" *ngIf="!dataSource.length && !isLoading">
      <mat-icon class="data-table__empty-icon" [svgIcon]="emptyIcon"></mat-icon>
      <h4 class="data-table__empty-message">{{ emptyMessage | translate }}</h4>
    </div>
  </mat-card>
  <paginator class="data-table__pagination" [queryParams]="queryParams" [(paginatePipeArgs)]="paginatePipeArgs"></paginator>
</loader-container>
