// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "modules/button-theme";
@import "modules/form-field-theme";

// Plus imports for other components in your app.

// Create the theme object (a Sass map containing all of the palettes).
$custom-theme: mat-light-theme(
  $primary: mat-palette($base-palette: $mat-blue),
  $accent: mat-palette($base-palette: $mat-gray),
  $warn: mat-palette($base-palette: $mat-red)
);

:root {
  $mat-theme-background: map-get($map: $custom-theme, $key: background);
  $mat-theme-foreground: map-get($map: $custom-theme, $key: foreground);

  --material-base-background-color:
    #{map-get(
      $map: $mat-theme-background,
      $key: background
    )};
  --material-base-element-color:
    #{map-get(
      $map: $mat-theme-background,
      $key: card
    )};
  --material-divider-color:
    #{map-get(
      $map: $mat-theme-foreground,
      $key: divider
    )};
}

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@mixin custom-material-theme($custom-theme: $custom-theme) {
  @include angular-material-theme($theme-or-color-config: $custom-theme);
  @include custom-button-theme($theme: $custom-theme);
  @include custom-form-field-theme($theme: $custom-theme);

  @include mat-core($typography-config: mat-typography-config(
    // Available elements: https://material.angular.io/guide/typography
    $font-family: var(--ff-main-font),
  ));
}

@include custom-material-theme($custom-theme: $custom-theme);
