.table {
  &__row {
    cursor: pointer;

    &:hover {
      background-color: rgb(var(--value-grey) 0.78);
    }
  }

  &::ng-deep {
    .mat-column-createdAt,
    .mat-column-lastUpdatedAt {
      max-width: 14rem;

      &:last-child {
        max-width: calc(14rem + 24px);
      }
    }
  }
}
